# **<center>DATA INGESTION ASSIGNMENT</center>**

The assignment for this week is focused on the data ingestion. We are going to tackle automating data ingestion and data cleaning.

The size of the CSV file wich contains the data is almost 30 GB. Then we are going to check if it is possible to open this file with Pandas or is more reasonable using Dask.

In [13]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

In [3]:
%%time
pd.read_csv('../data/itineraries.csv')

MemoryError: Unable to allocate 4.28 GiB for an array with shape (7, 82138753) and data type object

In [2]:
%%time
dd.read_csv('../data/itineraries.csv')

CPU times: total: 15.6 ms
Wall time: 31.3 ms

Dask DataFrame Structure:
                  legId searchDate flightDate startingAirport destinationAirport fareBasisCode travelDuration elapsedDays isBasicEconomy isRefundable isNonStop baseFare totalFare seatsRemaining totalTravelDistance segmentsDepartureTimeEpochSeconds segmentsDepartureTimeRaw segmentsArrivalTimeEpochSeconds segmentsArrivalTimeRaw segmentsArrivalAirportCode segmentsDepartureAirportCode segmentsAirlineName segmentsAirlineCode segmentsEquipmentDescription segmentsDurationInSeconds segmentsDistance segmentsCabinCode
npartitions=485
                 object     object     object          object             object        object         object       int64           bool         bool      bool  float64   float64          int64               int64                            object                   object                          object                 object                     object                       object              object              object                       object                    object           object            object
                    ...        ...        ...             ...                ...           ...            ...         ...            ...          ...       ...      ...       ...            ...                 ...                               ...                      ...                             ...                    ...                        ...                          ...                 ...                 ...                          ...                       ...              ...               ...
...                 ...        ...        ...             ...                ...           ...            ...         ...            ...          ...       ...      ...       ...            ...                 ...                               ...                      ...                             ...                    ...                        ...                          ...                 ...                 ...                          ...                       ...              ...               ...
                    ...        ...        ...             ...                ...           ...            ...         ...            ...          ...       ...      ...       ...            ...                 ...                               ...                      ...                             ...                    ...                        ...                          ...                 ...                 ...                          ...                       ...              ...               ...
                    ...        ...        ...             ...                ...           ...            ...         ...            ...          ...       ...      ...       ...            ...                 ...                               ...                      ...                             ...                    ...                        ...                          ...                 ...                 ...                          ...                       ...              ...               ...
Dask Name: read-csv, 1 graph layer

In terms of computational efficiency dask is much better than pandas for this huge files.

Pandas couldn't even save the data as a dataframe. Dask open and save it in less than 1 second.

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
%%time
df = dd.read_csv('../data/itineraries.csv', blocksize='5MB', dtype={'totalTravelDistance': 'float64'})
print(df.shape)
df.head()

(Delayed('int-b0cdb2b1-70e3-4677-a186-036515b5b2c3'), 27)
CPU times: total: 297 ms
Wall time: 361 ms

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,isNonStop,baseFare,totalFare,seatsRemaining,totalTravelDistance,segmentsDepartureTimeEpochSeconds,segmentsDepartureTimeRaw,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0,False,False,True,217.67,248.6,9,947.0,1650214620,2022-04-17T12:57:00.000-04:00,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,True,217.67,248.6,4,947.0,1650191400,2022-04-17T06:30:00.000-04:00,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,True,217.67,248.6,9,947.0,1650209700,2022-04-17T11:35:00.000-04:00,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0,False,False,True,217.67,248.6,8,947.0,1650218340,2022-04-17T13:59:00.000-04:00,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0,False,False,True,217.67,248.6,9,947.0,1650203940,2022-04-17T09:59:00.000-04:00,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [5]:
%%time
df.columns

CPU times: total: 0 ns
Wall time: 0 ns

Index(['legId', 'searchDate', 'flightDate', 'startingAirport',
       'destinationAirport', 'fareBasisCode', 'travelDuration', 'elapsedDays',
       'isBasicEconomy', 'isRefundable', 'isNonStop', 'baseFare', 'totalFare',
       'seatsRemaining', 'totalTravelDistance',
       'segmentsDepartureTimeEpochSeconds', 'segmentsDepartureTimeRaw',
       'segmentsArrivalTimeEpochSeconds', 'segmentsArrivalTimeRaw',
       'segmentsArrivalAirportCode', 'segmentsDepartureAirportCode',
       'segmentsAirlineName', 'segmentsAirlineCode',
       'segmentsEquipmentDescription', 'segmentsDurationInSeconds',
       'segmentsDistance', 'segmentsCabinCode'],
      dtype='object')

Lest's see how much time takes to perform some basic tasks in a large dask dataframe.

These tasks can be done faster with a GPU cluster as you could see in this [video](https://www.youtube.com/watch?v=auBaWD31FCk)

In [10]:
%%time
df.shape[0].compute()

CPU times: total: 1min 15s
Wall time: 6min 14s

82138753

In [11]:
%%time
for col in df.columns:
    print(col, ':', df[col].dtype)

legId : object
searchDate : object
flightDate : object
startingAirport : object
destinationAirport : object
fareBasisCode : object
travelDuration : object
elapsedDays : int64
isBasicEconomy : bool
isRefundable : bool
isNonStop : bool
baseFare : float64
totalFare : float64
seatsRemaining : int64
totalTravelDistance : float64
segmentsDepartureTimeEpochSeconds : object
segmentsDepartureTimeRaw : object
segmentsArrivalTimeEpochSeconds : object
segmentsArrivalTimeRaw : object
segmentsArrivalAirportCode : object
segmentsDepartureAirportCode : object
segmentsAirlineName : object
segmentsAirlineCode : object
segmentsEquipmentDescription : object
segmentsDurationInSeconds : object
segmentsDistance : object
segmentsCabinCode : object
CPU times: total: 0 ns
Wall time: 15.6 ms

In [7]:
%%time
df.count().compute()

legId                                82138753
searchDate                           82138753
flightDate                           82138753
startingAirport                      82138753
destinationAirport                   82138753
fareBasisCode                        82138753
travelDuration                       82138753
elapsedDays                          82138753
isBasicEconomy                       82138753
isRefundable                         82138753
isNonStop                            82138753
baseFare                             82138753
totalFare                            82138753
seatsRemaining                       82138753
totalTravelDistance                  76044221
segmentsDepartureTimeEpochSeconds    82138753
segmentsDepartureTimeRaw             82138753
segmentsArrivalTimeEpochSeconds      82138753
segmentsArrivalTimeRaw               82138753
segmentsArrivalAirportCode           82138753
segmentsDepartureAirportCode         82138753
segmentsAirlineName                  82138753
segmentsAirlineCode                  82138753
segmentsEquipmentDescription         80581161
segmentsDurationInSeconds            82138753
segmentsDistance                     82138753
segmentsCabinCode                    82138753
dtype: int64

In [15]:
%%time
df.groupby('startingAirport').agg({'flightDate': 'count', 'totalTravelDistance': np.mean}).compute()

CPU times: total: 52.8 s
Wall time: 6min 38s

                 flightDate  totalTravelDistance
startingAirport
ATL                 5312028          1341.256336
BOS                 5883876          1404.694020
CLT                 5494510          1275.856998
DEN                 4697143          1618.931562
DFW                 5674959          1427.268136
DTW                 4547052          1358.106003
EWR                 3970797          1493.950516
IAD                 3464378          1360.769438
JFK                 4425164          1476.200651
LAX                 8073281          2224.079657
LGA                 5919323          1441.101885
MIA                 4930213          1654.300184
OAK                 3809884          2490.414580
ORD                 5503476          1191.713772
PHL                 4726187          1458.260987
SFO                 5706482          2328.056660

As you can see single tasks take more than 5 minutes each one. Then if you are going to take huge datasets make sure to have a GPU with enough memory.

## Data ingestion and validation

In [1]:
import dask.dataframe as dd
import pandas as pd
import numpy as np
import yaml

import testutility as util

In [26]:
%%writefile file.yaml
file_type: csv
dataset_name: flights
file_name: itineraries
table_name: flight_prices
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 0
columns: 
    - legId
    - searchDate
    - flightDate
    - startingAirport
    - destinationAirport
    - fareBasisCode
    - travelDuration
    - elapsedDays
    - isBasicEconomy
    - isRefundable
    - isNonStop
    - baseFare
    - totalfare
    - seatsRemaining
    - totalTravelDistance
    - segmentsDepartureTimeEpochSeconds
    - segmentsDepartureTimeRaw
    - segmentsArrivalTimeEpochSeconds
    - segmentsArrivalTimeRaw
    - segmentsArrivalAirportCode
    - segmentsDepartureAirportCode
    - segmentsAirlineName
    - segmentsAirlineCode
    - segmentsEquipmentDescription
    - segmentsDurationInSeconds
    - segmentsDistance
    - segmentsCabinCode

Overwriting file.yaml

In [2]:
config_data = util.read_config_file("file.yaml")
config_data

{'file_type': 'csv',
 'dataset_name': 'flights',
 'file_name': 'itineraries',
 'table_name': 'flight_prices',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'skip_leading_rows': 0,
 'columns': ['legId',
  'searchDate',
  'flightDate',
  'startingAirport',
  'destinationAirport',
  'fareBasisCode',
  'travelDuration',
  'elapsedDays',
  'isBasicEconomy',
  'isRefundable',
  'isNonStop',
  'baseFare',
  'totalfare',
  'seatsRemaining',
  'totalTravelDistance',
  'segmentsDepartureTimeEpochSeconds',
  'segmentsDepartureTimeRaw',
  'segmentsArrivalTimeEpochSeconds',
  'segmentsArrivalTimeRaw',
  'segmentsArrivalAirportCode',
  'segmentsDepartureAirportCode',
  'segmentsAirlineName',
  'segmentsAirlineCode',
  'segmentsEquipmentDescription',
  'segmentsDurationInSeconds',
  'segmentsDistance',
  'segmentsCabinCode']}

In [3]:
file_type = config_data['file_type']
source_file = "../data/" + config_data['file_name'] + f'.{file_type}'
#print("",source_file)
df = dd.read_csv(source_file, dtype={'totalTravelDistance': 'float64'}, delimiter=config_data['inbound_delimiter'])
df.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0,False,False,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0,False,False,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0,False,False,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [4]:
util.col_header_val(df,config_data)

column name and column length validation failed
Following File columns are not in the YAML file ['totalFare']
Following YAML columns are not in the file uploaded ['totalfare']

0

In [8]:
print("Columns of files are:" ,df.columns.tolist())
print("\nColumns of YAML are:" ,config_data['columns'])

Columns of files are: ['legId', 'searchDate', 'flightDate', 'startingAirport', 'destinationAirport', 'fareBasisCode', 'travelDuration', 'elapsedDays', 'isBasicEconomy', 'isRefundable', 'isNonStop', 'baseFare', 'totalFare', 'seatsRemaining', 'totalTravelDistance', 'segmentsDepartureTimeEpochSeconds', 'segmentsDepartureTimeRaw', 'segmentsArrivalTimeEpochSeconds', 'segmentsArrivalTimeRaw', 'segmentsArrivalAirportCode', 'segmentsDepartureAirportCode', 'segmentsAirlineName', 'segmentsAirlineCode', 'segmentsEquipmentDescription', 'segmentsDurationInSeconds', 'segmentsDistance', 'segmentsCabinCode']

Columns of YAML are: ['legId', 'searchDate', 'flightDate', 'startingAirport', 'destinationAirport', 'fareBasisCode', 'travelDuration', 'elapsedDays', 'isBasicEconomy', 'isRefundable', 'isNonStop', 'baseFare', 'totalfare', 'seatsRemaining', 'totalTravelDistance', 'segmentsDepartureTimeEpochSeconds', 'segmentsDepartureTimeRaw', 'segmentsArrivalTimeEpochSeconds', 'segmentsArrivalTimeRaw', 'segmentsArrivalAirportCode', 'segmentsDepartureAirportCode', 'segmentsAirlineName', 'segmentsAirlineCode', 'segmentsEquipmentDescription', 'segmentsDurationInSeconds', 'segmentsDistance', 'segmentsCabinCode']

In [11]:
if util.col_header_val(df,config_data)==0:
    print("\nValidation failed")
else:
    print("col validation passed")

column name and column length validation failed
Following File columns are not in the YAML file ['totalFare']
Following YAML columns are not in the file uploaded ['totalfare']

Validation failed

Here is an example with a small GPU NVIDIA RTX 3050Ti

In [1]:
from dask_cuda import LocalCUDACluster
from dask.distributed import Client

cluster = LocalCUDACluster()
client = Client(cluster)
client

/home/sebas/miniconda3/envs/rapids-22.10/lib/python3.9/site-packages/dask_cuda/utils.py:244: UserWarning: Cannot get CPU affinity for device with index 0, setting default affinity
  warnings.warn(
2022-11-11 20:20:47,823 - distributed.preloading - INFO - Creating preload: dask_cuda.initialize
2022-11-11 20:20:47,823 - distributed.preloading - INFO - Import preload module: dask_cuda.initialize

In [8]:
import dask_cudf
import cupy

In [3]:
%%time
dask_cudf.read_csv('../data/itineraries.csv')

CPU times: user 813 ms, sys: 408 ms, total: 1.22 s
Wall time: 1.65 s

In [5]:
df2 = dask_cudf.read_csv('../data/itineraries.csv', dtype={'totalTravelDistance': 'float64'})
print(df2.shape)
df2.head()

(Delayed('int-2c9c3451-7f98-4115-8022-9e5b1445f131'), 27)

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0,False,False,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0,False,False,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0,False,False,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [9]:
%%time
df2.groupby('startingAirport').agg({'flightDate': 'count', 'totalTravelDistance': cupy.mean}).compute()

CPU times: user 24.5 s, sys: 3.92 s, total: 28.5 s
Wall time: 18min 9s

                 flightDate  totalTravelDistance
startingAirport
MIA                 4930213          1654.300184
ATL                 5312028          1341.256336
ORD                 5503476          1191.713772
OAK                 3809884          2490.414580
DFW                 5674959          1427.268136
PHL                 4726187          1458.260987
LAX                 8073281          2224.079657
BOS                 5883876          1404.694020
EWR                 3970797          1493.950516
JFK                 4425164          1476.200651
IAD                 3464378          1360.769438
DTW                 4547052          1358.106003
DEN                 4697143          1618.931562
SFO                 5706482          2328.056660
CLT                 5494510          1275.856998
LGA                 5919323          1441.101885